<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Add place | City Guide</title>
</head>
<body>

<!--Navigation bar-->
<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">City Guide</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tour/all">Tours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/form">Log in/out</a>
            </li>
        </ul>
    </div>
</nav>

<!--Form-->
<div class="card">
    <div class="card-header"></div>
    <div class="card-body mx-2">
        <form th:object="${place}" action="#" th:action="@{/place}" method="post">
            <div class="form-group">
                <label for="editPlaceFormName">Name</label>
                <input type="text" class="form-control" th:field="*{name}" id="editPlaceFormName"
                       placeholder="Place name" maxlength="60" required>
                <small id="nameHelp" class="form-text text-muted">Please enter a recognizable name.</small>
            </div>
            <div class="form-group">
                <label for="editPlaceFormCategory">Select categories</label>
                <ul class="list-unstyled" id="editPlaceFormCategory">
                    <li th:each="category : ${session.categoryList}">
                        <input type="checkbox" th:field="*{categories}" th:value="${category.id}"/>
                        <label th:for="${#ids.prev('categories')}"
                               th:text="${category.name}"></label>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="editPlaceFormCity">Select city</label>
                <select class="form-control" th:field="*{city.id}" id="editPlaceFormCity">
                    <option th:each="cityItem : ${session.cityList}"
                            th:value="${cityItem.id}" th:text="${cityItem.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="editPlaceFormAddress">Address</label>
                <input type="text" class="form-control" th:field="*{address}" id="editPlaceFormAddress"
                       placeholder="Place address" maxlength="120" required>
            </div>
            <div class="form-group">
                <label for="editPlaceFormDescription">Description</label>
                <textarea class="form-control" th:field="*{description}" id="editPlaceFormDescription" maxlength="500"
                          required></textarea>
            </div>
            <button type="submit" class="btn btn-info">Add</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>